html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, dwntxt, hedr, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
dwntxt, hedr, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* clerx */

.clerx:before,
.clerx:after {
    content:"";
    display:table;
}
.clerx:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clerx {
    zoom:1;
}

/* STYLE */

font-family: 'Public Sans', sans-serif;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
font-family: 'Public Sans', sans-serif;
	font-size: 16px;
	line-height: 1.3;
	background: #f5f5f5;
}


img {
  max-width: 60%;
}

.overlay {
	background: rgba(0,0,0,0.75);
	position: fixed;
	 display: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	height: 100%;
	overflow-y: scroll;
}

.popup {
	padding: 20px 10px;
	background: #fff;
	max-width: 430px;
	width: 90%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	top: 20%;
}

.popup h3 {
	font-weight: 700;
	font-size: 1.625rem;
	letter-spacing: 0.5px;
}

.popup-txt {
	margin: 10px 0;
}

.popup > label {
	display: block;
	font-size: 1.625rem;
	font-weight: 700;
	margin: 10px 0;
}

.selection {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin: 0 8px;
}

.popup > input {
	background: #ebebeb;
	padding: 8px 15px;
	font-size: 1.125rem;
	font-family: 'Caviar Dreams', sans-serif;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0;
	width: 90%;
	margin: 0 auto;
	display: block;
	outline: 0;
}

.selection > input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.selection > input + label {
	display: block;
	width: 70px;
	height: 105px;
}

.selection > input#female + label {
	background: url(../images/female.png);
}

.selection > input#male + label {
	background: url(../images/male.png);
}

.selection > input#female:checked + label {
	background: url(../images/female_selected.png);
}

.selection > input#male:checked + label {
	background: url(../images/male_selected.png);
}

.popup button {
	background: #e01001;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 20px;
	color: #fff;
	font-family: 'Caviar Dreams', sans-serif;
	border: 0;
	font-size: 1.25rem;
	display: block;
	max-width: 220px;
	width: 100%;
	margin: 20px auto 0;
	cursor: pointer;
	outline: 0;
}

.hedr {
	background: #ed0628;
	padding: 40px 0 70px;
	position: relative;
}

.hedr img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}



h1 {
	position: absolute;
	left: 5%;
	bottom: -28px;
	color: #000;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	padding: 10px 0;
	width: 90%;
	letter-spacing: 1px;
	font-size: 1.75rem;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.main-txt {
	font-size: 1.125rem;
	padding: 10px 20px;
	margin-top: 60px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.bold {
	font-weight: 700;
}

.wrapper {
	max-width: 768px;
	padding: 0 30px;
	margin: 30px auto 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.prize {
	width: 100%;
	background: #fff;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	padding: 20px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.top-prize {
	text-align: right;
}

.dwntxt {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #ed0628;
   color: white;
   text-align: center;

}

.tag {
	display: inline-block;
	text-align: center;
	background: #01b0ca;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	line-height: 1;
}

.tag p {
	font-weight: 700;
	padding: 4px 10px;
	color: #fff;
}

.tag span {
	display: block;
	padding: 5px 10px;
	color: #c0d5dc;
	font-size: 0.75rem;
	background: #027b92;
}

.prize img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 15px auto;
}

.apple {
	font-size: 1.375rem;
	text-align: center;
	font-weight: 700;
	margin-bottom: 6px;
}

.price {
	text-align: center;
	font-size: 1.125rem;
}

.price span {
	color: #e01001;
	text-decoration: line-through;
}

.cta {
	color: #fff;
	text-decoration: none;
	background: #e01001;
	display: block;
	margin-top: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	padding: 10px 0;
	font-size: 1.25rem;
}

.cta2 {
	color: #fff;
	text-decoration: none;
	background: #9e9e9e;
	display: block;
	margin-top: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	padding: 10px 0;
	font-size: 1.25rem;
}


@-webkit-keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
@-moz-keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}

@media screen and (max-width: 549px) {
	.hedr {
		padding: 20px 0 40px;
	}
	.hedr img {
		max-width: 180px;
	}
	h1 {
		bottom: -25px;
		font-size: 1.5rem;
	}
	.main-txt {
		font-size: 1rem;
		margin-top: 45px;
	}
	.wrapper {
		padding: 0 15px;
	}
	.left, .right {
		width: 100%;
		float: none;
	}
	.right {
		margin-top: 20px;
	}
	.comments {
		padding: 0;
	}
	.popup {
		top: 20px;
	}
}




.questions {
	padding: 0 20px;
}

.q, .loading, .final {
	display: none;
}

.q.start {
	display: block;
}

.steps {
	background: #fff;
	margin: 45px 0;
	height: 3px;
	overflow: hidden;
}

.steps-inner {
	background: #0a0;
	width: 0;
	height: 3px;
}

.question {
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.2;
	margin-bottom: 19px;
}

.buttons button {
	float: left;
	width: 49%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #e01001;
	color: #fff;
	border: 0;
	font-size: 1.5rem;
	font-weight: 700;
	padding: 10px 20px;
	margin: 10px 0;
	-webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.125);
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.125);
	cursor: pointer;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
    transition: all 0.25s;
    outline: 0;
}

.buttons button:hover, .cta:hover {
	color: #000000;
		background: #e01001;
}

.buttons button:nth-child(odd) {
	margin-right: 2%;
}

.loading {
	min-height: 340px;
}

h3 {
	color: #000000;
	margin: 20px 0;
	font-size: 1.5rem;
}

.loading-bar {
	margin-top: 39px;
	position: relative;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	overflow: hidden;
	height: 30px;
	border: 2px solid #000;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,666666+100 */
	background: #333333; /* Old browsers */
	background: -moz-linear-gradient(top, #333333 0%, #666666 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #333333 0%,#666666 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #333333 0%,#666666 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
}

.bar {
	width: 0;
	height: 26px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#88ff00+0,44aa00+100 */
	background: #88ff00; /* Old browsers */
	background: -moz-linear-gradient(top, #88ff00 0%, #44aa00 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #88ff00 0%,#44aa00 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #88ff00 0%,#44aa00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88ff00', endColorstr='#44aa00',GradientType=0 ); /* IE6-9 */
}

.shine {
	background: rgba(255,255,255,0.5);
	-webkit-border-radius: 30%;
	-moz-border-radius: 30%;
	border-radius: 30%;
	top: 5%;
	left: 1%;
	width: 98%;
	height: 20%;
	position: absolute;
}

.final p {
	color: #000000;
}


.wrapr2 {
	text-align: center;
	max-width: 760px;
	margin: 0 auto;
	padding-bottom: 40px;
		padding-top: 30px;
}

h2 {
	line-height: 1.25;
	font-size: 1.5rem;
	margin: 20px 0;
}

.img-responsive {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.about {
	margin: 19px 0;
	font-weight: 700;
	letter-spacing: 0.3px;
	font-size: 1.125rem;
}

.txt {
	font-weight: 300;
	margin: 19px 0;
}


.container {
  position: relative;
  width: 80%;
  max-width: 450px;
  margin: 0 auto;
}

form {
  position: relative;
  width: 100%;
  margin: 50px auto;
  padding: 50px;
  background: white;
  text-align: center;
}

input {
  display: inline-block;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  border: 2px dashed lightblue;
  outline: none;
  font-size: 20px;
  font-family: 'Economica', 'Arial', sans-serif;
  font-weight: 400;
  transition: all 0.2s ease;
}

input:focus { border-color: deepskyblue; }

button {
  position: absolute;
  left: calc(50% - 150px / 2);
  bottom: calc(- 50px / 2);
  width: 150px;
  height: 50px;
  padding: 10px 15px;
  margin-top: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-family: 'Economica', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 700;
  background: #ed0628;
  transition: all 0.2s ease;
}


/* Base for label styling */
[type="chckbox"]:not(:checked),
[type="chckbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="chckbox"]:not(:checked) + label,
[type="chckbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* chckbox aspect */
[type="chckbox"]:not(:checked) + label:before,
[type="chckbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="chckbox"]:not(:checked) + label:after,
[type="chckbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="chckbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="chckbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled chckbox */
[type="chckbox"]:disabled:not(:checked) + label:before,
[type="chckbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="chckbox"]:disabled:checked + label:after {
  color: #999;
}
[type="chckbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="chckbox"]:checked:focus + label:before,
[type="chckbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}






.txtcenter {
  margin-top: 4em;
  font-size: .9em;
  text-align: center;
  color: #aaa;
}
.copy {
 margin-top: 2em; 
}
.copy a {
 text-decoration: none;
 color: #4778d9;
}

button:hover { background: midnightblue; }

button.valid,
button.valid:hover { background: mediumseagreen; }


@-webkit-keyframes drawBorder {
  from {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
  }
  
  to {
    stroke-dasharray: 4000;
    stroke-dashoffset: 0;
  }
}

@keyframes drawBorder {
  from {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
  }
  
  to {
    stroke-dasharray: 4000;
    stroke-dashoffset: 0;
  }
}

h3 {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}